# .env.example (이 파일은 Git에 포함)
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SPRING_MAIL_HOST=
SPRING_MAIL_PORT=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_FROM=
JHIPSTER_MAIL_BASE_URL=

JHIPSTER_CACHE_REDIS_HOST=localhost

APPLICATION_REDIS_SERVER=redis://localhost:6379
APPLICATION_REDIS_CLUSTER=false

JWT_SECRET=
